/* styles/globals.css */

/* Reset podstawowych stylów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb; /* jasne tło */
  color: #1f2937; /* ciemnoszary tekst */
}

/* Linki */
a {
  text-decoration: none;
  color: inherit;
}

/* Scroll behavior */
html {
  scroll-behavior: smooth;
}
@keyframes fadeInLeft {
  0% { opacity: 0; transform: translateX(-30px); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInRight {
  0% { opacity: 0; transform: translateX(30px); }
  100% { opacity: 1; transform: translateX(0); }
}

.animate-fadeInLeft {
  animation: fadeInLeft 1s ease-out forwards;
}

.animate-fadeInRight {
  animation: fadeInRight 1s ease-out forwards;
}

.animate-bounce {
  animation: bounce 2s infinite;
}

